<!DOCTYPE html>
<html >

  <head>
    <meta charset="utf-8" />
    <title>ngMadLibs</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="style.css" />
    <script data-require="angular.js@1.3.x" src="https://code.angularjs.org/1.3.17/angular.js" data-semver="1.3.17"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.17/angular-animate.min.js"></script>

    <script src="app.js"></script>
  </head>

  <body ng-app="ngMadLibs" >
    <div id="main" ng-controller="MainCtrl">
      <div id="titleBanner">
        <img id="smiley" src="smiley.png" \><img id="titleImg" src="title.png" \><h1>Automate This!</h1>
      </div>
      <div id="words" class="animateWords"  ng-show="filledIn == false">
        <h2>Provide the following words:</h2>

        <div ng-repeat="item in mw">
          <!--
            Code below clears the input box when the user clicks on them, and remembers the state of each word as the
            user clicks around different text boxes.
          -->
        <input type="text" ng-model="item.value" ng-class="{redBox: wordsForm.$submitted && (item.value == item.defVal || item.value == '')}"  ng-click="item.origVal=item.value != ''? item.value : item.origVal;item.value = '';" ng-blur="item.value = item.value || item.origVal"\>

        </div>
        <form name="wordsForm" ng-submit="submitWords()">
          <p>Name is:</p>
        <input type="radio" name="Gender" ng-model="gender"  value="M" >Male</input>
        <input type="radio" name="Gender" ng-model="gender"  value="F" checked="checked">Female</input>

          <button  formnovalidate>Generate Sheet</button>
        </form>
      <h3 id="errMessage"> {{errMessage}}</h3>

      </div>
      <div id="madLib" class="madlibAnim" ng-show="filledIn == true">
       <p> {{mw.name.value}} was a {{mw.job_title.value}} who loved technology. Although {{gender == 'F' ? 'she' : 'he'}} loved parts of {{gender == 'F' ? 'her' : 'his'}} job, {{gender == 'F' ? 'she' : 'he'}} absolutely hated  {{mw.tedious_task.value}} and {{mw.dirty_task.value}}. So, {{mw.name.value}} met with {{gender == 'F' ? 'her' : 'his'}} life mentor {{mw.celebrity.value}} who told {{gender == 'F' ? 'her' : 'him'}} to learn how to {{mw.useless_skill.value}} with Thinkful. Thinkful didn't offer a course on {{mw.useless_skill.value}}, so {{gender == 'F' ? 'she' : 'he'}} studied AngularJS instead. </p>
 
<p>What a great decision! With {{gender == 'F' ? 'her' : 'his'}} new skills, {{mw.name.value}} built a(n) {{mw.adjective.value}} robot named {{mw.obnoxious_celebrity.value}} that not only loved {{mw.dirty_task.value}}, but did it {{mw.huge_no.value}} times faster. </p>

        <button ng-click="startOver()">Start Over</button>
      </div>
      
    </div>
  </body>

</html>
