/* Put your css in here */
body
{
 background-color: lightgray;
  font-family: "Trebuchet MS"
}
#main
{
  margin-left: auto;
  margin-right: auto;
  width:700px;
  height:800px;
  border: 1px black;
  background-color: white;
  border: 2px solid black;
}

#titleBanner
{
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 700px;
  height: 110px;
  border-bottom: 2px solid black;
}
#smiley
{
  width: 70px;
  height: 70px;
  padding: 20px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  float: left;
}
h1
{
text-align:center;
  font-size: 48px;
  margin-top:-2px;
}
#titleImg
{
  width: 210px;

 margin-right: auto;
  margin-left: auto;
  display:block;
}
#words
{
  
  padding: 70px 10px;
  
  width: 600px;
  margin-left: auto;
  margin-right: auto;

  //-webkit-transition: all linear 2s;

  //transition: 2s linear all;
}
#words form{
  display:block;
  margin-left:auto;
  margin-right: auto;
  width: 200px;
  height: 10px;
  margin-top: 10px;
  padding-left: 30px;
}
#words div
{
  display: inline-block;
  padding: 5px
}
#words input
{
  font-size: 14px;
}
input.redBox
{
  border: 2px solid firebrick;

}
#words form p{
  margin-bottom: -1px;
}
#words input
{
  text-align: center;
}
button
{
  margin-top: 100px;
  display: block;
  margin-left: auto;
  width: 150px;
  padding: 4px;
}
#madLib
{
    margin-left: auto;
  margin-right: auto;

  padding-top: 100px;
  width: 600px;
  font-size: 18px;
  margin-top: 10px;
}
#errMessage
{
  margin-top: 50px;

  display:block;
  margin-left:auto;
  margin-right:auto;
  width:300px;
  padding-left: 60px;
}


.animateWords, .madlibAnim
{
  -moz-transition:all linear .8s;
  -o-transition:all linear .8s;
  transition:all linear .8s;

  -webkit-transition:all linear .8s;
  transition:all linear .8s;
  opacity:1;
}
.animateWords.ng-hide-add
{

  //display: block !important;
 //position: absolute;
opacity: 1;
  transition: 1s linear all;
}
#words.ng-hide-add.ng-hide-add-active,
.madlibAnim.ng-hide-add.ng-hide-add-active
{

 // display: none;
  opacity: 0;
}

.animateWords.ng-hide-remove, .madlibAnim.ng-hide-remove
{
  opacity: 0;
  -webkit-transition: all linear .5s;
  display: none;
  transition: .5s linear all;

}

.animateWords.ng-hide-remove
{
  -webkit-transition: all linear .5s;
  position: absolute;
  display: none;

}
.madlibAnim.ng-hide-remove{
  -webkit-transition: all linear .5s;
  transition: all linear .5s;

}
.madlibAnim.ng-hide-a
dd{
max-height: 200px;

}
.madlibAnim.ng-hide-add.ng-hide-add-active
{
  max-height: 0px;
}
.animateWords.ng-hide-remove.ng-hide-remove-active,
.madlibAnim.ng-hide-remove.ng-hide-remove-active
{
  opacity: 1;

  position: static;
}